.ccls-cache/
.ccls
wasmc
tests/a.aot
build/
tools/readaot
esp32c3-idf/build/
esp32c3-idf/managed_components/
esp32c3-idf/Debug/
esp32c3-idf/sdkconfig.old
esp32c3-idf/compile_commands.json
Debug/
.aspell.en.prepl
.aspell.en.pws
aotfmt.tex.bak
aspell.sh
coverage.info
coverage/
